<section class="whatwedo">
    <div class="container">
        <h1 class="title">WHAT WE DO</h1>
    </div>
</section>
<section class="packages">
    <div class="container">
        <h1 class="title">PACKAGES</h1>
        <div class="col-sm-4">
            <div class="package-wrapper">

            </div>
        </div>
        <div class="col-sm-4">
            <div class="package-wrapper">

            </div>
        </div>
        <div class="col-sm-4">
            <div class="package-wrapper">

            </div>
        </div>
    </div>
</section>
<section class="aboutus">
    <div class="container">
        <h1 class="title">ABOUT US</h1>
    </div>
</section>
<section class="contactus">
    <div class="container">
        <h1 class="title">CONTACT US</h1>
    </div>
</section>
